ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    justify-content: space-between;
}

.left-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.right-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

li {
    flex: 1;
}

.left-links li {
    margin-right: 10px;
}

.right-links li {
    margin-left: 10px;
}

li:first-child {
    margin-left: 0;
}

li:last-child {
    margin-right: 0;
    margin-left: auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

nav ul li:first-child img {
    height: 50px;
    display: block;
    width: 100%;
    margin: 0 auto;
}