nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

nav a {
    color: #4CAF50;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #4CAF50;
    color: #fff;
}

#user,
#guest {
    display: flex;
    align-items: center;
}

#userEmail {
    margin-right: 10px;
}

#guest a:first-child {
    margin-right: 10px;
}