footer {
    position: fixed;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 0px;

}

footer h3,
footer p {
    margin: 0;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerColumn {
    flex-basis: 45%;
}

.socialIcons {
    padding-left: 10px;
}

.socialIcons a {
    color: white;
    margin-right: 10px;
}

.socialIcons a:hover {
    color: #4CAF50;
}